body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: #171717;
  width: calc(100% - 33px);
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  position: absolute;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.result-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.result-container > div {
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 5px 0;
  color: white;
  text-transform: capitalize;
}
#age {
  background: #01DA7C;
  border: 2px solid #01DA7C;
  border-radius: 50px 20px;
}
#emotion {
  background: #FF00D5;
  border: 2px solid #FF00D5;
  border-radius: 50px 20px;
}
#gender {
  background: #AB00FF;
  border: 2px solid #AB00FF;
  border-radius: 50px 20px;
	
}
video {
  width: 100%;
}
header {
  //background: #42a5f5;
  color: white;
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  font-size: 2rem;
}
